.sign-in-page {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  flex-direction: column;

  @media screen and (max-width: 800px) {
    width: 100%;
    padding: 10px;
  }
}